body {
  background: white;
  border: 1pt black;
  width : 1920px;
  border: rgb(199, 196, 196) 1px solid;
  margin: 0pt auto;
}
.banner {
  background: url(../image/banner.png) no-repeat;
  width: 1920px;
  height: 873px;
  border: rgb(199, 196, 196) 1px solid;
}
.header_banner{
  font-size: 12pt;
  font-family: Roboto-Regular;
  width: 100%;
  padding-top: 41px;
  padding-left: 1344px;
  display: flex;
}
.about_us{
  color: black ;
  font-size: 12pt;
  padding: 10px 20px;
  float: left;
}
.sign_in{
  color:  rgb(139, 195, 74);
  border-radius: 100px;
  padding: 10px 27px;
  border: rgb(139, 195, 74) 2px solid;
  float: left;
}
.header_banner::after{
  content: ' ';
  clear: both;
  display: block;
}
.banner_container{
  padding-top: 165px;
}
.hapoerp{
  padding-left: 832px;
}
.icon{
  padding-left: 585px;
  padding-top: 48px;
  display: flex;
}
.icon_ti-gift{
  float: left;
}
.ti-gift{
  padding-left: 22px;
  font-size: 48px;
}
.better{
  font-family: Roboto-Light;
  padding-top: 19px;
  font-size: 36px;
}
.icon_ti-alarm-clock{
  padding-left: 229px;
  float: left;
}
.ti-alarm-clock{
  padding-left: 22px;
  font-size: 48px;
}
.icon_ti-thumb-up{
  padding-left: 299px;
  float: left;
}
.ti-thumb-up{
  padding-left: 22px;
  font-size: 48px;
}
.slogan_banner{
  font-family: Roboto-Italic;
  padding-top: 53px;
  font-size: 14pt;
  padding-left: 676px;
}
.start_now_banner{
  padding-top: 34px;
  padding-left: 836px;
}
.startnow_banner{
  font-family: Roboto-Regular;
  padding: 13px 30px;
  width: 140px;
  height: 20px;
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));   
  color: white;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0px 2px 4px 0px black;
}

.today_i_learnt{
  width: 100%;
  height: 571px;
  background-color: white;
  border: rgb(199, 196, 196) 1px solid;
  display: flex;
}
.img_til{
  width: 555px;
  height: 371px;
  padding-top: 100px;
  padding-left: 390px;
  float: left;
}
.text_til{
  padding-top: 100px;
  padding-left: 30px;
  float: left;
}
.header_text_til{
  display: flex;
}
.header_text_til .ti-bookmark-alt{
  margin-top: -4px;
}
.ti-bookmark-alt{
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name_ti-bookmark-alt{
  font-family: Roboto-Light;
  color: rgb(68, 68, 68);
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 19px;
}
.header_text_til::after{
  content: ' ';
  clear: both;
  display: block;
}
.slogan_text_til{
  font-family: Roboto-Italic;
  font-size: 14px;
  padding-top: 28px;
}
.document_text_til{
  font-family: Roboto-Regular;
  padding-top: 28px;
  width: 555px;
  height: 168px;
  font-size: 13px;
}
.start_now_til{
  padding-top: 30px;
}
.startnow_til{
  font-family: Roboto-Regular;
  padding: 13px 30px;
  width: 140px;
  height: 20px;
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));   
  color: white;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0px 2px 4px 0px black;
}
.today_i_learnt::after{
  content: ' ';
  clear: both;
  display: block;
}


.daily_report{
  width: 100%;
  height: 571px;
  border: rgb(199, 196, 196) 1px solid;
  display: flex;
}
.text_dr{
  width: 555px;
  height: 371px;
  padding-top: 100px;
  padding-left: 390px;
  float: left;
}
.header_text_dr{
  display: flex;
}
.ti-write{
  font-size: 36px;
  padding-top: 14px;
  padding-left: 20px;
  float: left;
}
.header_text_dr .ti-write{
  margin-top: -4px;
}
.name_ti-write{
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
}
.img_dr{
  width: 555px;
  height: 354px;
  padding-top: 116px;
  padding-left: 30px;
  float: left;
}
.ti-user{
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name_ti-user{
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
}
.document_text_til{
  padding-top: 29px;
  width: 555px;
  height: 168px;
  font-size: 13px;
}
.doc_1{
  display: flex;
}
.ti-check-box{
  color: rgb(139, 195, 74);
  font-size: 18px;
  float: left;
}
.doc_ti-check-box{
  font-family: Roboto-Regular;
  width: 519px;
  height: 50px;
  font-size: 13px;
  padding-left: 18px;
  float: left;
}
.doc_1::after{
  content: ' ';
  clear: both;
  display: block;
}
.doc_2{
  padding-top: 17px;
  display: flex;
}
.doc_2::after{
  content: ' ';
  clear: both;
  display: block;
}
.doc_3{
  padding-top: 17px;
  display: flex;
}
.doc_3::after{
  content: ' ';
  clear: both;
  display: block;
}
.rectangle3{
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));
  height: 322px;
  display: flex;
}
.oval1{
  padding-top: 70px;
  padding-left: 392px;
  float: left;
}
.oval_1{
  width: 107px;
  height: 107px; 
  border-radius: 100%;
  border: 2px solid white;
  color: white;
  float: left;
}
.oval_1 .ti-write{
  margin-left: 11px;
}
.ti-write{
  font-size: 36px;
  margin-top: 15px;
}
.oval_small{
  width: 40px;
  height: 40px; 
  border-radius: 100%;
  background-color: rgb(139, 195, 74);
  border: 2px solid white;
  align-self: center;
  color: white;
  margin-left: 32px;
  margin-top: 85px;
}
.one_small{
  font-size: 24px;
  margin-left: 14px;
  margin-top: 6px;

}
.inform_oval{
  font-family: Roboto-Regular;
  padding-left: 25px;
}
.oval2{
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.ti-bookmark-alt{
  font-size: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.oval3{
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.oval_small_3{
  width: 40px;
  height: 40px; 
  border-radius: 100%;
  background-color: rgb(139, 195, 74);
  border: 2px solid white;
  align-self: center;
  color: white;
  margin-left: 32px;
  margin-top: 20px;
}
.ti-layout-list-thumb{
  font-size: 36px;
  margin-top: 30px;
  margin-left: 34px;
}
.oval4{
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.ti-face-smile{
  font-size: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.oval5{
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.ti-calendar{
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.header_text_til .ti-face-smile{
  margin-top: -4px;
}
.ti-face-smile{
  font-size: 36px;
  padding-top: 15px;
  float: left;
}
.name_ti-face-smile{
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 19px;
}

.our_customers{
  background: url(../image/rectangle3.png);
  padding-top: 50px;
  height: 544px;
  border: rgb(199, 196, 196) 1px solid;
}
.header_our_customers{
  font-family: Roboto-Light;
  color: #ffffff;
  font-size: 48px;
  padding-left: 816px;
}
.img_avatar{
  padding-top: 48px;
  display: flex;
}
.avatar_1{
  padding-left: 390px;
  float: left;
}
.img_rectangle4Copy2{
  width: 79px;
  height: 80px;
}
.duongnt{
  color: white;
  font-family: Roboto-Regular;
  font-size: 13px;
  padding-left: 16px;
}
.avatar_2{
  padding-left: 72px;
  float: left;
}
.avatar_3{
  padding-left: 72px;
  float: left;
}
.avatar_4{
  padding-left: 72px;
  float: left;
}
.avatar_5{
  padding-left: 72px;
  float: left;
}
.avatar_6{
  padding-left: 72px;
  float: left;
}
.avatar_7{
  padding-left: 72px;
  float: left;
}
.avatar_8{
  padding-left: 72px;
  float: left;
}
.ti-quote-left{
  color: #ffffff;
  padding-top: 39px;
  padding-left: 497px;
  font-size: 72px;
}
.doc_our_customers{
  color: #ffffff;
  font-family: Roboto-Light;
  font-size: 18px;
  padding-left: 586px;
  width: 750px;
  height: 90px;
}
.ti-quote-right{
  color: #ffffff;
  padding-left: 1362px;
  font-size: 72px;
}
.header_text_dr .ti-calendar{
  margin-top: -4px;
}
.ti-calendar{
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name_ti-calendar{
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
}

.mask{
  height: 179px;
  padding-top: 45px;
  padding-left: 389px;
  background-color: rgb(57, 71, 78);
  border: rgb(199, 196, 196) 1px solid;
  display: flex;
}
.inform_hapo_mask{
  float: left;
}
.img_hapo{
  font-size: 24px;
}
.hapo_mask{
  color: rgb(208, 216, 220);
  font-size: 10px;
  padding-top: 36px;
}
.inform_mask{
  padding-top: 9px;
  padding-left: 100px;
}
.get_in_touch{
  font-size: 13px;
  color: rgb(139, 195, 74);
}
.contact{
  color: rgb(208, 216, 220);
  font-size: 10px;
  padding-top: 14px;
}
.ti-facebook{
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 119px;
}
.ti-twitter{
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}
.ti-youtube{
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}
.ti-linkedin{
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}