body {
  background: white;
  border: 1pt black;
  width : 1920px;
  border: 1px solid rgb(199, 196, 196) ;
  margin: 0pt auto;
}
.lpc-banner {
  background: url(../image/banner.png) no-repeat;
  width: 1920px;
  height: 873px;
  border: 1px solid  rgb(199, 196, 196);
}
.lpc-banner-button {
  font-size: 12pt;
  font-family: Roboto-Regular;
  width: 100%;
  padding-top: 41px;
  padding-left: 1344px;
  display: flex;
}
.lpc-about-us {
  color: black ;
  font-size: 12pt;
  padding: 10px 20px;
  float: left;
}
.lpc-sign-in {
  color:  rgb(139, 195, 74);
  border-radius: 100px;
  padding: 10px 27px;
  border:  2px solid rgb(139, 195, 74);
  float: left;
}
.lpc-banner-button::after {
  content: ' ';
  clear: both;
  display: block;
}
.lpc-banner-container {
  padding-top: 165px;
}
.banner-hapoerp {
  padding-left: 832px;
}
.banner-icon {
  padding-left: 585px;
  padding-top: 48px;
  display: flex;
}
.icon-ti-gift {
  float: left;
}
.ti-gift {
  padding-left: 22px;
  font-size: 48px;
}
.better {
  font-family: Roboto-Light;
  padding-top: 19px;
  font-size: 36px;
}
.icon-ti-alarm-clock {
  padding-left: 229px;
  float: left;
}
.ti-alarm-clock {
  padding-left: 22px;
  font-size: 48px;
}
.icon-ti-thumb-up {
  padding-left: 299px;
  float: left;
}
.ti-thumb-up {
  padding-left: 22px;
  font-size: 48px;
}
.banner-slogan {
  font-family: Roboto-Italic;
  padding-top: 53px;
  font-size: 14pt;
  padding-left: 676px;
}
.banner-start-now {
  padding-top: 34px;
  padding-left: 836px;
}
.start-now {
  font-family: Roboto-Regular;
  padding: 13px 30px;
  width: 140px;
  height: 20px;
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));   
  color: white;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0px 2px 4px 0px black;
}

.lpc-today-i-learnt {
  width: 100%;
  height: 571px;
  background-color: white;
  border: 1px solid rgb(199, 196, 196);
  display: flex;
}
.lpc-til-img {
  width: 555px;
  height: 371px;
  padding-top: 100px;
  padding-left: 390px;
  float: left;
}
.lpc-til-doc {
  padding-top: 100px;
  padding-left: 30px;
  float: left;
}
.til-icon {
  display: flex;
}
.lpc-til-doc .ti-bookmark-alt{
  margin-top: -4px;
}
.ti-bookmark-alt {
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name-ti-bookmark-alt {
  font-family: Roboto-Light;
  color: rgb(68, 68, 68);
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 19px;
}
.til-icon::after {
  content: ' ';
  clear: both;
  display: block;
}
.til-slogan {
  font-family: Roboto-Italic;
  font-size: 14px;
  padding-top: 28px;
}
.til-doc {
  font-family: Roboto-Regular;
  padding-top: 28px;
  width: 555px;
  height: 168px;
  font-size: 13px;
}
.til-start-now {
  width: 195px;
  height: 50px;
  padding-top: 30px;
}
.startnow {
  font-family: Roboto-Regular;
  padding: 13px 30px;
  width: 140px;
  height: 20px;
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));   
  color: white;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0px 2px 4px 0px black;
}
.lpc-today-i-learnt::after {
  content: ' ';
  clear: both;
  display: block;
}

.lpc-daily-report {
  width: 100%;
  height: 571px;
  border: 1px solid rgb(199, 196, 196);
  display: flex;
}
.daily-report-doc {
  width: 555px;
  height: 371px;
  padding-top: 100px;
  padding-left: 390px;
  float: left;
}
.deilay-report-icon {
  display: flex;
}
.ti-write {
  font-size: 36px;
  padding-top: 14px;
  padding-left: 20px;
  float: left;
}
.daily-report-doc .ti-write {
  margin-top: -4px;
}
.name-ti-write {
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
  float: left;
}
.deilay-report-icon::after{
  content: ' ';
  clear: both;
  display: block;
}
.daily-report-img {
  width: 555px;
  height: 371px;
  padding-top: 100px;
  padding-left: 30px;
  float: left;
}
.daily-report-doc.ti-user {
  margin-top: -4px;
}
.ti-user {
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name-ti-user {
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
  float: left;
}
.til-doc {
  padding-top: 29px;
  width: 555px;
  height: 168px;
  font-size: 13px;
}
.doc-1 {
  display: flex;
}
.ti-check-box {
  color: rgb(139, 195, 74);
  font-size: 18px;
  float: left;
}
.doc-ti-check-box {
  font-family: Roboto-Regular;
  width: 519px;
  height: 50px;
  font-size: 13px;
  padding-left: 18px;
  float: left;
}
.doc-1::after {
  content: ' ';
  clear: both;
  display: block;
}
.doc-2 {
  padding-top: 17px;
  display: flex;
}
.doc-2::after {
  content: ' ';
  clear: both;
  display: block;
}
.doc-3 {
  padding-top: 17px;
  display: flex;
}
.doc-3::after {
  content: ' ';
  clear: both;
  display: block;
}
.rectangle3 {
  background: linear-gradient(to right,rgb(66,147,33), rgb(180,236,81));
  height: 322px;
  display: flex;
}
.oval1 {
  padding-top: 70px;
  padding-left: 392px;
  float: left;
}
.oval-1 {
  width: 107px;
  height: 107px; 
  border-radius: 100%;
  border: 2px solid white;
  color: white;
  float: left;
}
.oval-1 .ti-write {
  margin-left: 11px;
}
.ti-write {
  font-size: 36px;
  margin-top: 15px;
}
.oval-small {
  width: 40px;
  height: 40px; 
  border-radius: 100%;
  background-color: rgb(139, 195, 74);
  border: 2px solid white;
  align-self: center;
  color: white;
  margin-left: 32px;
  margin-top: 85px;
}
.one-small {
  font-size: 24px;
  margin-left: 14px;
  margin-top: 6px;
}
.inform-oval {
  font-family: Roboto-Regular;
  padding-left: 25px;
}
.oval2 {
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.ti-bookmark-alt {
  font-size: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.oval3 {
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.oval-small-3 {
  width: 40px;
  height: 40px; 
  border-radius: 100%;
  background-color: rgb(139, 195, 74);
  border: 2px solid white;
  align-self: center;
  color: white;
  margin-left: 32px;
  margin-top: 20px;
}
.ti-layout-list-thumb {
  font-size: 36px;
  margin-top: 30px;
  margin-left: 34px;
}
.oval4 {
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.ti-face-smile {
  font-size: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.oval5 {
  padding-top: 70px;
  padding-left: 150px;
  float: left;
}
.oval-mini {
  padding-top: 20px;
  padding-left: 923px; 
  display: flex;
}
.oval-mini-1 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid rgb(216, 216, 216);
  background-color: white;
  float: left;
}
.oval-mini-2 {
  width: 10px;
  height: 10px; 
  border-radius: 100%;
  border: 2px solid rgb(216, 216, 216);
  color: white;
  margin-left: 23px;
  float: left;
}
.oval-mini-3 {
  width: 10px;
  height: 10px; 
  border-radius: 100%;
  border: 2px solid rgb(216, 216, 216);
  color: white;
  margin-left: 23px;
  float: left;
}
.oval-mini::after {
  content: ' ';
  clear: both;
  display: block;
}
.ti-calendar {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin-top: 15px;
  margin-left: 34px;
}
.deilay-report-icon .ti-face-smile {
  margin-top: -4px;
}
.ti-face-smile {
  font-size: 36px;
  padding-top: 15px;
  float: left;
}
.name-ti-face-smile {
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 19px;
}
.ti-unlock {
  color: rgb(139, 195, 74);
  font-size: 18px;
  float: left;
}
.ti-cup {
  color: rgb(139, 195, 74);
  font-size: 18px;
  float: left;
}
.ti-stats-up {
  color: rgb(139, 195, 74);
  font-size: 18px;
  float: left;
}
.lpc-our-customers {
  background: url(../image/rectangle3.png);
  padding-top: 50px;
  height: 544px;
  border: 1px solid rgb(199, 196, 196);
}
.our-customers {
  font-family: Roboto-Light;
  color: #ffffff;
  font-size: 48px;
  padding-left: 816px;
}
.avatar-img {
  padding-top: 48px;
  display: flex;
}
.avatar-1 {
  padding-left: 390px;
  float: left;
}
.our-customers-img {
  width: 79px;
  height: 80px;
}
.duongnt {
  color: white;
  font-family: Roboto-Regular;
  font-size: 13px;
  padding-left: 16px;
}
.avatar-2 {
  padding-left: 72px;
  float: left;
}
.avatar-3 {
  padding-left: 72px;
  float: left;
}
.avatar-4 {
  padding-left: 72px;
  float: left;
}
.avatar-5 {
  padding-left: 72px;
  float: left;
}
.avatar-6 {
  padding-left: 72px;
  float: left;
}
.avatar-7 {
  padding-left: 72px;
  float: left;
}
.avatar-8 {
  padding-left: 72px;
  float: left;
}
.ti-quote-left {
  color: #ffffff;
  padding-left: 487px;
  font-size: 72px;
}
.doc {
  color: #ffffff;
  font-family: Roboto-Light;
  font-size: 18px;
  padding-left: 586px;
  width: 750px;
  height: 90px;
}
.ti-quote-right {
  color: #ffffff;
  padding-left: 1362px;
  font-size: 72px;
}
.deilay-report-icon .ti-calendar {
  margin-top: -4px;
}
.ti-calendar {
  font-size: 36px;
  padding-top: 14px;
  float: left;
}
.name-ti-calendar {
  font-family: Roboto-Light;
  width: 308px;
  height: 63px;
  font-size: 48px;
  padding-left: 18px;
  float: left;
}
.lpc-mask {
  height: 179px;
  padding-top: 45px;
  padding-left: 389px;
  background-color: rgb(57, 71, 78);
  border: 1px solid rgb(199, 196, 196);
  display: flex;
}
.inform-hapo-mask {
  float: left;
}
.hapo-img {
  font-size: 24px;
}
.hapo-inform {
  color: rgb(208, 216, 220);
  font-size: 10px;
  padding-top: 36px;
}
.inform-mask {
  padding-top: 9px;
  padding-left: 100px;
}
.get-in-touch {
  font-size: 13px;
  color: rgb(139, 195, 74);
}
.contact {
  color: rgb(208, 216, 220);
  font-size: 10px;
  padding-top: 14px;
}
.ti-facebook {
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 119px;
}
.ti-twitter {
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}
.ti-youtube {
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}
.ti-linkedin {
  color: rgb(139, 195, 74);
  padding-top: 63px;
  padding-left: 38px;
}
